
body {
  background-color:#1b1c1c;
}

div.heading {
  background-color:#1b1c1c;

}

div.paragraphs {
  color:white;
}

div.disclaimer {
  text-align: center;
  color: red;
  font-size: 25px;
}
h1 {
  font-weight: 100;
  color:#8a8b91;
  font-family: Helvetica;
  text-align: center;
  padding-top: 20px;

}

h2 {
  color:#8a8b91;
  font-family: cursive;
  text-align: center;
}

h3 {
  font-family:Helvetica;
  color:#8a8b91;
  margin: 15px;
}

h2.disclaimer {
  text-align: center;
  text-decoration: overline;

}

ul {
  font-family:Georgia;
  font-size:16px;
  color:white;
  float: center;

}

p {
  font-family:Georgia;
  font-size:16px;
  color: white;
  padding: 0px 20px 0px 20px;
  font-family: Arial;

}

p.conclusion {
  font-family:Arial;
  font-size:17px;
}

p.disclaimer {
  font-family: Times;
  font-size: 20px;
  padding-right: 50px;
  padding-left: 50px;
}
img.center {
  width:600px;
  height:450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-color:white;
  border-width: thick;
  border-style: solid;
  margin-bottom: 20px;

}

img.medium {
  width:400px;
  height:350px;
  border-color:white;
  border-width: medium;
  border-style: solid;
  padding-right: 50px;

}

img.JVN {
  display: block;
  width: 450px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

div.poll {
  text-align: center;

}

p.poll {
  font-size: 30px;
}
fieldset {
  width: 200px;
  height: 200px;
  border: 1px dashed #87888a;
  text-align: left;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
span.bobby {
  font-weight: bold;
}

blockquote.background {
  float: right;
  width: 200px;
  height: 120px;
  font-style: italic;
  font-family: Helvetica;
  margin-left: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 10px;
}

blockquote.life {
  float: left;
  width: 150px;
  height: 110px;
  font-style: italic;
  font-family: Helvetica;
  margin-left: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 15px;
}

p.gb {
  text-align: center;
  font-size: 20px;
}
