body {
  background: content-box linear-gradient(#2D3142, #4F5D75);
  background-color: #2D3142;
  font-family: helvetica;
  color: #F7F9FC;
}

h1 {
  font-size: 400%;
  font-family: 'Open Sans';
  font-weight: bold;
  text-align: center;
  padding:1%;
  color: #E5C82C;
}

h2,
legend {
  font-size: 250%;
  font-family: 'Open Sans';
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #C1982F;
  color: #F7F9FC;
}


h3 {
  font-size: 125%;
  font-family: "Open Sans";
  //text-align: center;
  border-bottom: solid 1px #C1982F;
  color: #F7F9FC;
}

/*Style all links*/
a {
  text-decoration: none;
  outline: none;
  padding:1% 1% 0 1%;
}

a:link {
  color: #E5C82C;
}

a:visited {
  color: #C1982F;
}

a:hover {
  border-bottom: 1px solid;
  background: #2D3142;
  border-radius: 2%;
}

[type = "file"] {
  border: none;
}

li {
  margin: 1% 4%;
  padding: .5%;
}

.Estes,
.Peaches,
.Zeke {
  height: 140%;
  width: 31.3%;
  margin: 4% 1%;
  float: left;
}

p {
  font-family: helvetica;
  height: 33%;
  padding: 2% 5%;
  text-align: justify;
  line-height: 140%;
}

ul {
  padding: 1% 5%;
  width: auto;
  width: 50%;
}

/*Syle dog images*/
img {
  border: inset 1px #E5C82C;
  border-radius: 5%;
  margin: 0 auto;
  display: block;
}

/*Style What's your kid like form and nickname form*/
legend {
  margin-bottom: 75px;
  border-top: solid 1px #C1982F;
}

form {
  position: relative;
  bottom: 700px;
}

input,
select {
  display: block;
  margin: 1% 2%;
  width: 33%;
  height: 6%;
  font-size: 100%;
  border: ridge 4px #E5C82C;
  border-radius: 2%;
  padding: 1%;
}

label {
  display: block;
  color: #F7F9FC;
  margin: 1% 2%;
}

textarea {
  color: black;
  width: 33%;
  height: 25%;
  margin: 1% 2%;
  font-size: 100%;
  border: ridge 4px #E5C82C;
  border-radius: 2%;
  padding: 1% 1%;
}

.your-dog-form {
  display: inline-block;
  height: 650px;
  background-image: url(images/background-image.jpg);
  width: 100%;
}

#background-image {
  border-radius: 0;
  border: 0;
}

.submit-button,
.nickname-button {
  cursor: pointer;
  padding: 2%;
  border: outset 3px #E5C82C;
  border-radius: 3%;
  color: #4F5D75;
  font-weight: bold;
  font-size: 125%;
  padding: .35% 1% 1% 1%;
}

#birthday-input {
  cursor: pointer;
  font-family: "open sans";
  color: grey;
  background: white
}

textarea:hover,
.text-input:hover,
#birthday-input:hover,
.nickname:hover,
.dogSelector:hover {
  background-color: #E2E8F5;
}

textarea:focus,
.text-input:focus,
#birthday-input:focus,
.nickname:focus,
.dogSelector:focus {
  outline: none;
}

.upload-image {
  width: 33%;
  height: 7%;
  overflow: hidden;
  cursor: pointer;
  }

.upload-image:before {
  width: 33%;
  height: 7%;
  font-size: 120%;
  content: "Upload Your Pup!";
  text-align: center;
  padding: 1% 3%;
  color: #4F5D75;
  font-weight: bold;
  background-color: #F7F9FC;
  border: outset 3px #E5C82C;
  border-radius: 3%;
}

.upload-image::-webkit-file-upload-button {
  visibility: hidden;
}

.nickname,
.dogSelector,
.nickname-button {
  height: 6%;
  width: 29.25%;
  display: inline;
  float: left;
}

#nickname-form{
  position: static;
}

.error-message{
  color: red;
  margin-left: 2%;
}


/*Style Resources section at bottom of page*/
.resources {
  width: 100%;
  display: block;
  margin-top: 3%;
}

.dog-parks,
.dog-rescues {
  margin: 1% 1% 1% 1%;
  float: left;
  width: 38%;
}

.resource-titles {
  padding: 1%;
  width: 30%
}
